# DataScienceEcosystem
In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Create a Jupyter Notebook
- Create markdown cell with title of the notebook
- Create a markdown cell for an introduction
- List popular languages for Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Panda
2. NumPy
3. ggplot

| # Data Science Tools |
| ------------------ |
| Microsoft Vs Studio |
| R studio |
| Anaconda |

### Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [17]:
#This will convert 200 minutes to hours by diving by 60
ans = 200/60 
print(ans)

3.3333333333333335

## Author
 Mark Ssuuna